name: eventsse-chart-release-pullrequest

on:
  pull_request:
    paths:
      - 'eventsse-chart/**'
    branches:
      - main
  workflow_dispatch:

env:
  MODULE: eventsse
  GHCR_REPO: ghcr.io/${{ github.repository }}

jobs:
  lint-and-install:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version: [ "v1.32.8", "v1.33.4" ]

    steps:
      - name: Authenticate with GitHub App
        id: authenticate
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version
        run: |
          APP_VERSION=${GITHUB_REF#refs/tags/${{ env.MODULE }}/}
          APP_VERSION="${APP_VERSION:-0.0.1}"
          echo "APP_VERSION=$APP_VERSION" >> $GITHUB_ENV
          CHART_VERSION=${GITHUB_REF#refs/tags/${{ env.MODULE }}-chart/}
          CHART_VERSION="${CHART_VERSION:-0.0.1}"
          echo "CHART_VERSION=$CHART_VERSION" >> $GITHUB_ENV

      - name: Echo
        run: |
          echo "APP_VERSION=${{ env.APP_VERSION }}"
          echo "CHART_VERSION=${{ env.CHART_VERSION }}"

      - name: Replace CHART_VERSION in chart/Chart.yaml
        run: sed -i 's/CHART_VERSION/${{ steps.tags.outputs.latest_chart }}/g' ./${{ env.MODULE }}-chart/Chart.yaml

      - name: Replace APP_VERSION in Chart.yaml
        run: sed -i 's/APP_VERSION/${{ steps.tags.outputs.latest_autopilot }}/g' ./${{ env.MODULE }}-chart/Chart.yaml

      - name: Set up Helm
        uses: azure/setup-helm@v4.1.0

      - name: Helm lint chart
        run: helm lint ./chart

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
   
      - name: Install chart with standard configuration
        run: helm install ${{ env.MODULE }} ./${{ env.MODULE }}-chart --create-namespace -n krateo-system --wait

      - name: Wait for deployment to become Available
        run: kubectl wait deployment ${{ env.MODULE }} --for condition=Available=True --timeout=120s --namespace krateo-system

      - name: Get events
        if: always()
        run: kubectl get events -A --sort-by='.lastTimestamp'